global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m

frontend postgres-write
    bind *:5432
    default_backend postgres-primary

frontend postgres-read
    bind *:5433
    default_backend postgres-read-only

backend postgres-primary
    mode tcp

    option httpchk GET /primary

    http-check expect status 200

    server user-servers-patroni1 user-servers-patroni1:5432 check port 8008
    server user-servers-patroni2 user-servers-patroni2:5432 check port 8008

backend postgres-read-only
    mode tcp
    balance roundrobin

    option httpchk GET /read-only

    http-check expect status 200

    server user-servers-patroni1 user-servers-patroni1:5432 check port 8008
    server user-servers-patroni2 user-servers-patroni2:5432 check port 8008
